// Entities to use for filtering
params.bids_entities = [
    ses: "01",
    task: "rest",
    space: "MNI152NLin2009cAsym"
]

// Methods to run
params.METHODS = [ 
    "base",
    "powers",
    "lindquistpowers",
    "dct",
    "fourier"
]

params.cacheDir = false

process {

    withName: scrubImage{
        storeDir = params.cacheDir
        cpus = 8
        time = "00:10:00"
        containerOptions = "--mem-per-cpu=2G"
        queue = 'high-moby"
    }
}
