// Entities to use for filtering
params.bids_entities = [
    ses: "01",
    task: "rest",
    space: "MNI152NLin2009cAsym"
]

// Methods to run
params.METHODS = [ 
    "base",
    "powers",
    "lindquistpowers",
    "dct",
    "fourier"
]

// Parameters
params.smoothing_fwhm = 6
params.cacheDir = false
params.logDir = "/scratch/jjeyachandra/multiband-censoring-comparisons/logs"

env.PYTHONPATH = "/projects/jjeyachandra/multiband-censoring-comparisons/"

profiles {
    kimel{
        executor {
            name = "slurm"
            queueSize = 12
        }
    }

    local {
        executor = 'local'

    }
}

process {

    withName: scrubImage{
        storeDir = params.cacheDir
        cpus = 4
        time = "00:10:00"
        clusterOptions = "--mem-per-cpu=2G"
        queue = "high-moby"
        scratch = "/tmp/"
        errorStrategy = 'ignore'
    }

    withName: deriveConnectivity{
        storeDir = params.cacheDir
        cpus = 8
        time = "00:10:00"
        clusterOptions = "--mem-per-cpu=2G"
        queue = "high-moby"
        scratch = "/tmp/"
        errorStrategy = 'ignore'
    }
}
